<div style="display:flex;flex-direction:column;max-width:400px">
    <label for="password1">Password</label>
    <input id='password1' type='password'/>
    <label for="password2">Repeat password</label>
    <input id='password2' type='text'/>
    <button id='button'>Change password</button>
    <h1 id='text'></h1>
</div>

<script>
    const button = document.getElementById('button');
    const text = document.getElementById('text');
    const password1 = document.getElementById('password1');
    const password2 = document.getElementById('password2');

    const data = {
        uid: '{{uid}}',
        token: '{{token}}'
    }
    button.onclick = () => {
        if(password1.value !== password2.value) {
            password1.value = ''
            password2.value = ''
            alert("Password's dont match")
            return;
        }
        data.new_password = password1.value;
        console.log(data);
        fetch('/api/v1/auth/users/reset_password_confirm/', {
            method: "POST",
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)

        }).then((response) => {
            console.log(response);
            if (response.ok) {
                alert('Your password has been successfully reset');
            } else {
                alert('Error occured');
            }
        })
        .catch((error) => {
            console.log(error);
            alert('Error occured');
        })
    }
    
</script>